<link rel="stylesheet" href="/css/decrypt.css">
  <div class="container bot">
    <div class="row">
  <div class=" col-md container"><div class="quo">
</br><h2 class="text-center">Treasure Hunt</h2>
<div class="text-center" style="color:white;"><img src="/images/qn1.jpg" alt="" style="max-width:90%;"></div>
      <div class="text-center">
        <form class="form-group" action="/users/decrypt" method="post">
        <div class="form-group">
          <label class="text-center" style="color:white">Answer</label>
          <input type="text" class="form-control" name="answer1" autofocus="autofocus" style="margin-left:auto;margin-right:auto;">
        </div>
        <button type="submit" class="butt btn btn-default">Submit</button>
      </div>
    </form></div></div>
    <div class="container"><div class="follow text-center" onclick="window.open('//facebook.com/prominencerit')">Follow us on Facebook see scoreboard and updates</div></div>
  <div class="col-md" style="color:white;margin-top:-150px;"></br><h5 class="text-center">RULES</h5>
  </br><ul>
  <li><h6> Use only lowercase letters to answer.</h6></li>
  <li><h6> Cheating or malpractices like brute-forcing shall result in disqualification.</h6></li>
  <li><h6> Users scoring with fake names shall not appear in the scoreboard.</h6></li>
  <li><h6> No more Rules. Game on!</h6></li>
  </ul></div>
  </div></div>
<script>
$(window).on('load',function (e, params) {
  var localParams = params || {};

    if (!localParams.send) {
        e.preventDefault();
    }
swal("Oops!", "Your answer is wrong! Try again!", "error")
});
</script>
