    <div class="container text-center" id="event">
     <div class="card">
     <img class="card-img-top" src="/images/pathToYourImage.png" alt="image">
     <div class="card-block">
       <h4 class="card-title">workshop1</h4>
       <p class="card-text">
         Lorem ipsum dolor sit amet, consecteetur adipiscing elit. Phasneellus id cursus lorem. Vivamus non finibus dolor <a href="#">Learn more</a>
       </p>
       <a href="#" class="btn btn-primary">Register</a>
     </div>
    </div>
    <div class="card">
    <img class="card-img-top" src="/images/pathToYourImage.png" alt="image">
    <div class="card-block">
     <h4 class="card-title">workshop2</h4>
     <p class="card-text">
       Lorem ipsum dolor sit amet, consecteetur adipiscing elit. Phasneellus id cursus lorem. Vivamus non finibus dolor <a href="#">Learn more</a>
     </p>
     <a href="#" class="btn btn-primary">Register</a>
    </div>
    </div>
    <div class="card">
    <img class="card-img-top" src="/images/pathToYourImage.png" alt="image">
    <div class="card-block">
     <h4 class="card-title">workshop3</h4>
     <p class="card-text">
       Lorem ipsum dolor sit amet, consecteetur adipiscing elit. Phasneellus id cursus lorem. Vivamus non finibus dolor <a href="#">Learn more</a>
     </p>
     <a href="#" class="btn btn-primary">Register</a>
    </div>
    </div>
    <div class="card">
    <img class="card-img-top" src="/images/pathToYourImage.png" alt="image">
    <div class="card-block">
     <h4 class="card-title">Idea Pitching</h4>
     <p class="card-text">
       Lorem ipsum dolor sit amet, consecteetur adipiscing elit. Phasneellus id cursus lorem. Vivamus non finibus dolor <a href="#">Learn more</a>
     </p>
     <a href="#" class="btn btn-primary">Register</a>
    </div>
    </div>
    <div class="card">
    <img class="card-img-top" src="/images/pathToYourImage.png" alt="image">
    <div class="card-block">
     <h4 class="card-title">Paper presentation</h4>
     <p class="card-text">
       Lorem ipsum dolor sit amet, consecteetur adipiscing elit. Phasneellus id cursus lorem. Vivamus non finibus dolor <a href="#">Learn more</a>
     </p>
     <a href="#" class="btn btn-primary">Register</a>
    </div>
    </div>
    <div class="card">
    <img class="card-img-top" src="/images/pathToYourImage.png" alt="image">
    <div class="card-block">
     <h4 class="card-title">Lan gaming</h4>
     <p class="card-text">
       Lorem ipsum dolor sit amet, consecteetur adipiscing elit. Phasneellus id cursus lorem. Vivamus non finibus dolor <a href="#">Learn more</a>
     </p>
     <a href="#" class="btn btn-primary">Register</a>
    </div>
    </div>
    <div class="card">
    <img class="card-img-top" src="/images/pathToYourImage.png" alt="image">
    <div class="card-block">
     <h4 class="card-title">Line follower</h4>
     <p class="card-text">
       Lorem ipsum dolor sit amet, consecteetur adipiscing elit. Phasneellus id cursus lorem. Vivamus non finibus dolor <a href="#">Learn more</a>
     </p>
     <a href="#" class="btn btn-primary">Register</a>
    </div>
    </div>
    <div class="card">
    <img class="card-img-top" src="/images/pathToYourImage.png" alt="image">
    <div class="card-block">
     <h4 class="card-title">Quiz</h4>
     <p class="card-text">
       Lorem ipsum dolor sit amet, consecteetur adipiscing elit. Phasneellus id cursus lorem. Vivamus non finibus dolor <a href="#">Learn more</a>
     </p>
     <a href="#" class="btn btn-primary">Register</a>
    </div>
    </div>
    <div class="card">
    <img class="card-img-top" src="/images/pathToYourImage.png" alt="image">
    <div class="card-block">
     <h4 class="card-title">Crime scene</h4>
     <p class="card-text">
       Lorem ipsum dolor sit amet, consecteetur adipiscing elit. Phasneellus id cursus lorem. Vivamus non finibus dolor <a href="#">Learn more</a>
     </p>
     <a href="#" class="btn btn-primary">Register</a>
    </div>
    </div>
    </div>
   <script>
    $('.btn-primary').on('click', function(){
      event.preventDefault();
      sweetAlert({
  title: "Are you sure?",
  text: "Are you sure that you want to leave this page?",
  icon: "warning",
  dangerMode: true,
})
    });
   </script>
