<link href='http://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
<link href='style.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<video id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="/videos/header2.mp4" type="video/mp4">
</video>
<div class="text-center hero">
<!--<span id="header-text" class="container">Prominence'17  <block>|</block></span>
<span id="header-text" class="container" style="margin-left:-10px;">On Oct 13,14</span>
<h5></h5></br>-->
{{#if user}}
<a class="btn btn-primary auth" href="/users/login" style="display:none;"><h5>LOGIN</h5></a>
<a class="btn btn-primary auth" href="/users/register" style="display:none;"><h5>SIGNUP</h5></a>
</br></br>
{{else}}
<a class="btn btn-primary auth" href="/users/login"><h5>LOGIN</h5></a>
<a class="btn btn-primary auth" href="/users/register"><h5>SIGNUP</h5></a>
{{/if}}
</div><!--<div class="hero">
<script src="/js/index.js">
</script>
<span id="header-text" class="container">Prominence'17  <block>|</block></span>
<span id="header-text" class="container" style="margin-left:-10px;">On Oct 13,14</span>
<h5></h5></br>
<a class="btn btn-primary auth" href="/users/login"><h5>LOGIN</h5></a>
<a class="btn btn-primary auth" href="/users/register"><h5>SIGNUP</h5></a>
</div>-->
<div class="container" style="padding-left:30px;padding-right:30px;">
<div class="row content">
    <div class="row">
      <div class="col-md-6">


        <article class="container">

		<blockquote>
			<strong>Prominence</strong>, <em>the State level technical extravaganza,
organized by Dept. Of Electronics and Communication, RIT
is an ode to the stupendous growth made science and
technology over the years. Conceived by more than 5000
students,playing
host to large crowd of college and school going students.</em>
		</blockquote>

	</article>
      </div>
      <div class="col-md-6">
         <iframe width="420" height="315" src="https://www.youtube.com/embed/RpPbAnr9zb4" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="sec">
      <h2 style="margin:20px">Highlights</h2>
      <div class="row" style="margin-left:5px;margin-right:5px;">
      <div class="card card1 col-md" onclick="location.href='/users/talk-session'">
    <img class="card-img" src="/images/sv.svg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Talk Session</h4>
      <p class="card-text">Session by Gautham Nair, COO of Startup Village Collective on the topic <h7>Starting up in college</h7></p>
    </div>
  </div>
  <div class="card card1 col-md" onclick="location.href='/users/machine-learning'">
<img class="card-img" src="/images/ml.png" alt="Card image cap">
<div class="card-block">
  <h4 class="card-title">Machine Learning Workshop</h4>
  <p class="card-text">Learn about machine learning, the algorithms and processes are used, and some of the many ways that machine learning is being used.</p>
</div>
</div>
<div class="card card1 col-md" onclick="location.href='/users/wearables'">
<img class="card-img" src="/images/IEEE.jpg" style="width:16em;">
<div class="card-block">
<h4 class="card-title">Wearables workshop</h4>
<p class="card-text">  Dive deep into how things work in the world of wearables. A two day hands on workshop on Wearable technology. </p>
</div>
</div>
<div class="card card1 col-md" onclick="location.href='/users/events'">
<h4 class="text-center" style="margin-top:auto;margin-bottom:auto;padding:5px;">Show more</h4>
</div>
</div></br>
</div>
</div></div>
<div>
<img class="w-100" src="/images/concert.jpg" style="max-height:500px;min-height:280px;">
        <div class="carousel-caption" style="margin-top:-400px;">
          <span>Musical concert by Y Band</span>
          <p id="date">On Oct 13th at 4pm</p>
        </div></br>
      </div></div>
<div class="container">
  <h2 style="margin:20px;margin-top:80px;"> Media links</h2>
  <div style="margin:20px">
            <i class="fa fa-facebook icon"></i>
              <a href="//facebook.com/prominencerit" target="_blank" style="margin-left:4px;"> Our Facebook page</a></br>

          <i class="fa fa-youtube icon"></i>
            <a href="https://www.youtube.com/channel/UCb0tJNFh12ti03RhMeKlUEQ" target="_blank"> Our YouTube channel</a></br>


      <i class="fa fa-github icon"></i>

              <a href="//github.com/rohithrajasekharan/prominence" target="_blank"> Our GitHub repository</a></br>

        <i class="fa fa-twitter icon"></i>
              <a href="//twitter.com/prominencerit" target="_blank"> Our Twitter feed</a></br></br>
</div>
  <h2 style="margin-left:20px;">Our sponsors</h2></br>
    <div class="row card2 container" style="padding-top:20px;padding-bottom:20px;margin-right:auto;margin-left:auto;width:auto;">
    <div class="text-center col"><img src="/images/y.jpg" alt="" style="max-height:100px;"></div>
<div class="text-center col"><img src="/images/livewire.png" alt="" style="max-height:25px;margin-top:15%;margin-left:60px;margin-right:60px;"></div>
<div class="text-center col"><img src="/images/qrs.jpg" alt="" style="max-height:50px;margin-top:10%;margin-left:auto;margin-right:auto;"></div>
<div class="text-center col"><img src="/images/melcon.jpg" alt="" style="max-height:50px;margin-top:10%;margin-left:60px;margin-right:60px;"></div>
<div class="text-center col"><img src="/images/cm.jpg" alt="" style="max-height:50px;margin-top:10%;margin-left:60px;margin-right:60px;"></div></div>
</div>
<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Prominence<span>'17</span></h3>

    <p class="footer-company-name">Prominence &copy; 2017</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Rajiv Gandhi Institute Of Technology</span> Pampady, Kottayam</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+91 7025321381</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#s">prominencerit@gmail.com</a></p>
    </br>
  </br>

    </div>

  </div>

  <div class="footer-right">

    <div class="footer-icons">

      <a href="https://www.facebook.com/prominencerit"><i class="fa fa-facebook"></i></a>
      <a href="https://www.twitter.com/prominencerit"><i class="fa fa-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCb0tJNFh12ti03RhMeKlUEQ"><i class="fa fa-youtube"></i></a>
      <a href="https://www.github.com/rohithrajasekharan/prominence"><i class="fa fa-github"></i></a>

    </div>
  </div>
  <div class="footer-center text-center author"><p style="font-size:.6em;">Designed & Developed by Rohith Rajasekharan</p></div>

</footer>
