<link href='http://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
<link href='style.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<div class="hero">
<script src="/js/index.js">
</script>
<h1>Prominence</h1></br>
<a class="btn btn-primary auth" href="/users/login"><h5>LOGIN</h5></a>
<a class="btn btn-primary auth" href="/users/register"><h5>SIGNUP</h5></a>
</div>
<div class="container">
<div class="row content">
    <div class="row">
      <div class="col-md-6">


        <article class="container">

		<blockquote>
			<strong>Prominence</strong>, <em>the State Level technical extravaganza,
organized by Dept. Of Electronics and Communication, RIT
is an ode to the stupendous growth made science and
technology over the years. Conceived by more than 5000
students,playing
host to large crowd of college and school going students.</em>
		</blockquote>

	</article>
      </div>
      <div class="col-md-6">
         <iframe width="420" height="315" src="https://www.youtube.com/embed/RpPbAnr9zb4" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="sec">
      <h2 style="margin:20px">Highlights</h2>
      <div class="row">
      <div class="card card1 col-md">
    <img class="card-img-top" src="/images/sv.svg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Talk Session</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card card1 col-md" >
<img class="card-img-top" src="/images/ml.png" alt="Card image cap">
<div class="card-block">
  <h4 class="card-title">Machine Learning Workshop</h4>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
</div>
<div class="card card1 col-md">
<img class="card-img-top" src="/images/IEEE.jpg">
<div class="card-block">
<h4 class="card-title">Wearables workshop</h4>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
</div>
<div class="card card1 col-md" onclick="location.href='/users/events'">
<h4 class="text-center" style="margin-top:auto;margin-bottom:auto;padding:5px;">Show more</h4>
</div>
</div>
  </div><div class="sec">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velit eligendi amet nobis repellat natus sequi sint consectetur excepturi doloribus vero provident consequuntur accusamus quisquam nesciunt cupiditate soluta alias illo et deleniti voluptates facilis repudiandae similique dolore quaerat architecto perspiciatis officiis dolor ullam expedita suscipit neque minima rem praesentium inventore ab officia quos dignissimos esse quam placeat iste porro eius! Minus, aspernatur nesciunt consectetur. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis autem vitae a quae ipsam repudiandae odio dolorum quaerat asperiores possimus corporis optio animi quisquam laboriosam nihil quam voluptatum quidem veritatis iste culpa iure modi perspiciatis recusandae ipsa libero officiis aliquam doloremque similique id quasi atque distinctio enim sapiente ratione in quia eum perferendis earum blanditiis. Nobis, architecto, veniam molestias minus iste necessitatibus est ab in earum ratione eveniet soluta molestiae sed illo nostrum nemo debitis. Minus, quod totam aliquam ea asperiores fugit quaerat excepturi dolores ratione numquam consequatur id unde alias provident vero incidunt exercitationem similique consequuntur hic possimus? Fuga, eveniet quaerat inventore corporis laborum eligendi enim soluta obcaecati aliquid veritatis provident amet laudantium est quisquam dolore exercitationem modi? Distinctio, pariatur, ab velit praesentium vitae quidem consequatur deleniti recusandae odit officiis. Quidem, cupiditate.</p>
</div><div class="sec">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, recusandae, at, labore velait eligendi amet nobis repellat natus sequi sint consectetur excepturi doloribus vero provident consequuntur accusamus quisquam nesciunt cupiditate soluta alias illo et deleniti voluptates facilis repudiandae similique dolore quaerat architecto perspiciatis officiis dolor ullam expedita suscipit neque minima rem praesentium inventore ab officia quos dignissimos esse quam placeat iste porro eius! Minus, aspernatur nesciunt consectetur. Sit, eius, itaque, porro, beatae impedit officia tenetur reiciendis autem vitae a quae ipsam repudiandae odio dolorum quaerat asperiores possimus corporis optio animi quisquam laboriosam nihil quam voluptatum quidem veritatis iste culpa iure modi perspiciatis recusandae ipsa libero officiis aliquam doloremque similique id quasi atque distinctio enim sapiente ratione in quia eum perferendis earum blanditiis. Nobis, architecto, veniam molestias minus iste necessitatibus est ab in earum ratione eveniet soluta molestiae sed illo nostrum nemo debitis. Minus, quod totam aliquam ea asperiores fugit quaerat excepturi dolores ratione numquam consequatur id unde alias provident vero incidunt exercitationem similique consequuntur hic possimus? Fuga, eveniet quaerat inventore corporis laborum eligendi enim soluta obcaecati aliquid veritatis provident amet laudantium est quisquam dolore exercitationem modi? Distinctio, pariatur, ab velit praesentium vitae quidem consequatur deleniti recusandae odit officiis. Quidem, cupiditate.</p>
</div>
</div>
</div>
<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Prominence<span>'17</span></h3>

    <p class="footer-company-name">Prominence &copy; 2017</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Rajiv Gandhi Institute Of Technology</span> Pampady, Kottayam</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 7025321381</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#s">prominencerit@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>
