<div class="container bot" style="margin-left:auto;margin-right:auto;">
  <div class="card" style="padding:5px;">
    <div class="card-block">
      <div class="row">
          <img class="col-md" src="/images/csgobanner.jpg" alt="" style="max-height:300px;max-width:300px;">
      <div class="col-md text-center" style="margin-top:20px;"><h4 class="card-title">counter strike</h4></br>
      <p class="sv-text">Counter Strike is now played across the globe like a sport with huge prize moneys. Are you really good at counter strike and wanna
      start out, this may be the right place for you. Showcase your speed, accuracy and Intelligence on our gaming platform.</p></br>
        <div id="box">
          <div>Schedule: 13th October all day long!</div>
          <div>Registration fee: 20/individual</div>
          <div>Venue: Electronics department</div>
          <div>Programme coordinator: Vishnu</br>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <i class="fa fa-whatsapp" aria-hidden="true"></i><h7 style="font-family:Helvetica"> 8075948193</h7></div>

        </div></br>
        <div id="box">
          <div>Registration closed</div>
        </div>    </div></div>
  </div>  <hr style="width:80%;">
</br>
  <h5 style="margin-left:30px;">RULES:</h5>
    <ol>
    <li><h6> You are allowed to bring your own peripherals. However we prefer you to play with the given gaming devices.</h6></li>
    <li><h6> Absence of the player in the final rounds will result in a disqualification.</h6></li>
    <li><h6> The tournament will consist of five v/s five death matches.</h6></li>
    <li><h6> Time of each match will vary with level.</h6></li>
    </ol></div>
    <div class="card" style="padding:5px;">
      <div class="card-block">
        <div class="row">
            <img class="col-md" src="/images/fifa.jpg" alt="" style="max-height:300px;max-width:300px;">
        <div class="col-md text-center" style="margin-top:20px;"><h4 class="card-title">Fifa</h4></br>
        <p class="sv-text">Be Kaka, Ronaldo, Messi, Neymar, Rooney and many more legends for a day. Dribble, pass and shoot your way to the finals of our Fifa tournament. Hurry up! Register now!</p>
      </br>  <div id="box">
            <div>Schedule: 13th October all day long!</div>
            <div>Registration fee: 20/individual</div>
            <div>Venue: Electronics department</div>
            <div>Programme coordinator: Vishnu</br><i class="fa fa-phone" aria-hidden="true"></i>
              <i class="fa fa-whatsapp" aria-hidden="true"></i><h7 style="font-family:Helvetica"> 8075948193</h7></div>
          </div></br>
          <div id="box">
            <div>Registration closed</div>
          </div>     </div></div>
    </div><hr style="width:80%;"></br>
    <h5 style="margin-left:30px;">RULES:</h5>
      <ol>
      <li><h6>You are allowed to bring your own peripherals. However we prefer you to play with the given gaming devices.</h6></li>
      <li><h6> Absence of the player in the final rounds will result in a disqualification.</h6></li>
      <li><h6> The tournament will consist of one on one 6 minute matches.</h6></li>
      <li><h6>You are not allowed to change the stamina or other physical properties of the team.</h6></li>
      </ol></div>
      <div class="card" style="padding:5px;">
        <div class="card-block">
          <div class="row">
    <img class="col-md" src="/images/nfs.jpg" alt="" style="max-height:300px;max-width:300px;">
          <div class="col-md text-center" style="margin-top:20px;"><h4 class="card-title">Need for Speed</h4></br>
              <p class="sv-text">Celebrate the arrival of Need for Speed Payback with Prominence. Grab the opportunity to battle with the best racers in town! Hurry up! Register before the green lights are lit.</p>
          </br>  <div id="box">
              <div>Schedule: 13th October all day long!</div>
              <div>Registration fee: 20/individual</div>
              <div>Venue: Electronics department</div>
              <div>Programme coordinator: Vishnu</br><i class="fa fa-phone" aria-hidden="true"></i>
                <i class="fa fa-whatsapp" aria-hidden="true"></i><h7 style="font-family:Helvetica"> 8075948193</h7></div>
            </div></br>
            <div id="box">
              <div>Registration closed</div>
            </div>
        </div></div>
        </div><hr style="width:80%;"></br>
        <h5 style="margin-left:30px;">RULES:</h5>
          <ol>
          <li><h6>You are allowed to bring your own peripherals. However we prefer you to play with the given gaming devices.</h6></li>
          <li><h6> Absence of the player in the final rounds will result in a disqualification.</h6></li>
          <li><h6> The race time will vary with each level.</h6></li>
          <li><h6> You are allowed to select the car of your choice from a given set.</h6></li>
          </ol>
</div>
</div>
<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Prominence<span>'17</span></h3>

    <p class="footer-company-name">Prominence &copy; 2017</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Rajiv Gandhi Institute Of Technology</span> Pampady, Kottayam</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 7025321381</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#s">prominencerit@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <div class="footer-icons">

      <a href="https://www.facebook.com/prominencerit"><i class="fa fa-facebook"></i></a>
      <a href="https://www.twitter.com/prominencerit"><i class="fa fa-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCb0tJNFh12ti03RhMeKlUEQ/"><i class="fa fa-youtube"></i></a>
      <a href="https://www.github.com/rohithrajasekharan/prominence"><i class="fa fa-github"></i></a>

    </div>

  </div>
  <div class="footer-center text-center author"><p style="font-size:.6em;">Designed & Developed by Rohith Rajasekharan</p></div>
</footer>
<script>
$('.btn1').on('click',function (e, params) {
  var localParams = params || {};

    if (!localParams.send) {
        e.preventDefault();
    }

       //additional input validations can be done hear

swal({
            title: "Confirm entry",
            text: "Confirm Registration as {{user.firstName}} {{user.lastName}}",
            type: "success",
            showCancelButton: true,
            confirmButtonColor: "#6A9944",
            confirmButtonText: "Confirm",
            cancelButtonText: "Cancel",
            closeOnConfirm: true
        }, function (isConfirm) {
            if (isConfirm) {
                $(e.currentTarget).trigger(e.type, { 'send': true });
            } else {

          //additional run on cancel  functions can be done hear

        }
    });
});
</script>
