<div class="container bot">
  <div class="text-center">
    <h2 >Paper presentation</h2>
    <img src="/images/paper.jpg" id="paper-img">
  </div></br>
  <div id="sv-text" style="margin-left:auto;margin-right:auto;max-width:800px;">
    Are you a person who found something new and want the world to know but you cant find a paper call on your topic, then this is the
    right destination for you. We provide you with the opportunity to showcase your idea to a huge audience and a panel of experts, no matter what the
    topic is. Grab the opportunity to win <bold style="color:#0265C9">prize money worth 5K.</bold>
  </div></br>
  <div id="box" class="text-center">
    <div>Schedule: 14th October 10am-4pm</div>
    <div>Registration fee: Rs 100/Individual</div>
    <div>Venue: Electronics department</div>
  </div></br>
  <div class="text-center">
    <div id="box">
      <div>Registration closed</div>
    </div><!--{{#if user}}
    <form action="/users/events" method="post">
   <button class="btn1" name="foo" value="paper_presentation">Register</button>
    </form>
    {{else}}
    <form action="/users/events" method="post">
 <button name="foo" value="paper_presentation">Register</button>
    </form>
    {{/if}}--></div></br>
<div class="row text-center">
  <div class="col-md" id="box">
    <div>Event coordinator</br>Yadhukrishnan R</br><i class="fa fa-phone" aria-hidden="true"></i><i class="fa fa-whatsapp" aria-hidden="true"></i><h7 style="font-family:Helvetica">  9544822022</h7></div>
  </div>
  <div class="col-md" id="box">
    <div>Event Head</br>Annete James</br><i class="fa fa-phone" aria-hidden="true"></i><i class="fa fa-whatsapp" aria-hidden="true"></i><h7 style="font-family:Helvetica">  9947412939</h7></div>
  </div>
</div></br>

 </br>
  <hr>
  <h5 class="text-center">RULES</h5>
</br><ol>
  <li><h6> A team of three or less is allowed to participate. Lone wolves are also allowed.</h6></li>
  <li><h6> Only the team leader have to apply online. The rest of the team members may report at the venue.</h6></li>
  <li><h6> The participants should be present at the venue atleast 1 hour before the contest.</h6></li>
  <li><h6> An abstract should be submitted before hand at the arrival of the participants.</h6></li>
  <li><h6> Each of the teams will be provided with a time slot of 15 minutes.</h6></li>
  <li><h6> Order of the presentation shall be decided only at the arrival of the participants.</h6></li>
</ol>
</div>

<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Prominence<span>'17</span></h3>

    <p class="footer-company-name">Prominence &copy; 2017</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Rajiv Gandhi Institute Of Technology</span> Pampady, Kottayam</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 7025321381</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#s">prominencerit@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <div class="footer-icons">

      <a href="https://www.facebook.com/prominencerit"><i class="fa fa-facebook"></i></a>
      <a href="https://www.twitter.com/prominencerit"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/prominencerit"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.github.com/rohithrajasekharan/prominence"><i class="fa fa-github"></i></a>

    </div>

  </div>
  <div class="footer-center text-center author"><p style="font-size:.6em;">Designed & Developed by Rohith Rajasekharan</p></div>
</footer>
<script>

$('.btn1').on('click',function (e, params) {
  var localParams = params || {};

    if (!localParams.send) {
        e.preventDefault();
    }

       //additional input validations can be done hear

swal({
            title: "Confirm entry",
            text: "Confirm Registration as {{user.firstName}} {{user.lastName}}",
            type: "success",
            showCancelButton: true,
            confirmButtonColor: "#6A9944",
            confirmButtonText: "Confirm",
            cancelButtonText: "Cancel",
            closeOnConfirm: true
        }, function (isConfirm) {
            if (isConfirm) {
                $(e.currentTarget).trigger(e.type, { 'send': true });
            } else {

          //additional run on cancel  functions can be done hear

        }
    });
});


</script>
