<div class="container bot">
  <div class="text-center">
    <h2>Qriosity</h2></br>
    <img src="/images/quiz.png" id="paper-img">
  </div></br>
  <div id="sv-text" style="margin-left:auto;margin-right:auto;max-width:800px;">
  Prominence presents to you a unique platform to exhibit your knowledge and acumen.If you think you are smart enough to battle with the best brains, Register now! Quiz questions will be derived from areas such as General Knowledge, Current Affairs, Maths & Science.
  Furnish your knowledge winning a <bold style="color:#0265C9">prize money of 1.5K.</bold>
  </div></br>
  <div id="box" class="text-center">
    <div>Schedule: Prelims on 13th October 12pm</div>
    <div>Registration fee: Rs 50/Individual</div>
    <div>Venue: Electronics department</div>
  </div></br>
  <div class="text-center">
    {{#if user}}
    <form action="/users/events" method="post">
 <button class="btn1" name="foo" value="quiz">Register</button>
    </form>
    {{else}}
    <form action="/users/events" method="post">
 <button name="foo" value="quiz">Register</button>
    </form>
    {{/if}}</div></br>
<div class="row text-center">
  <div class="col-md" id="box">
    <div>Event coordinator</br>Prakash Manuel</br><i class="fa fa-phone" aria-hidden="true"></i><i class="fa fa-whatsapp" aria-hidden="true">

    </i><h7 style="font-family:Helvetica">  9961448825</h7></div>
  </div>
  <div class="col-md" id="box">
    <div>Event head</br>Akhil Thomas</br><i class="fa fa-phone" aria-hidden="true"></i><i class="fa fa-whatsapp" aria-hidden="true">

    </i><h7 style="font-family:Helvetica">  9747869970</h7></div>
  </div>
</div></br><hr>
  <h5 class="text-center">RULES</h5>
</br><ol>
  <li><h6> A team of two is allowed to participate. Lone wolves are also permitted.</h6></li>
  <li><h6> Quiz consists of two rounds, a preliminary round and a final round. Preliminary round will be a written test, whereas the final round will be oral. </h6></li>
  <li><h6> Absence of the participant in the final rounds will result in a disqualification.</h6></li>
  <li><h6> Top six teams in the prelims shall be selected for the final round.</h6></li>
  <li><h6> Candidates may expect questions from any topic.</h6></li>
  </ol>
</div>

<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Prominence<span>'17</span></h3>

    <p class="footer-company-name">Prominence &copy; 2017</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Rajiv Gandhi Institute Of Technology</span> Pampady, Kottayam</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 7025321381</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#s">prominencerit@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <div class="footer-icons">

      <a href="https://www.facebook.com/prominencerit"><i class="fa fa-facebook"></i></a>
      <a href="https://www.twitter.com/prominencerit"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/prominencerit"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.github.com/rohithrajasekharan/prominence"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>
<script>
$('.btn1').on('click',function (e, params) {
  var localParams = params || {};

    if (!localParams.send) {
        e.preventDefault();
    }

       //additional input validations can be done hear

swal({
            title: "Confirm entry",
            text: "Confirm Registration as {{user.firstName}} {{user.lastName}}",
            type: "success",
            showCancelButton: true,
            confirmButtonColor: "#6A9944",
            confirmButtonText: "Confirm",
            cancelButtonText: "Cancel",
            closeOnConfirm: true
        }, function (isConfirm) {
            if (isConfirm) {
                $(e.currentTarget).trigger(e.type, { 'send': true });
            } else {

          //additional run on cancel  functions can be done hear

        }
    });
});
</script>
