<link rel="stylesheet" href="/css/decrypt.css">
  <div class="container bot">
    <div class="row">
  <div class=" col-md container"><div class="quo">
<h2 class="text-center">Treasure Hunt</h2>
<div class="text-center" style="color:white;"><h3>Congrats, Your score has been updated! Wait till next day to bring down the next brain stormer!</h3></div>
</ul></div>
</div></div></div/><div class="container"><div class="follow text-center" onclick="window.open('//facebook.com/prominencerit')">Follow us on Facebook see scoreboard and updates</div></div>
<script>
$(window).on('load',function (e, params) {
  var localParams = params || {};

    if (!localParams.send) {
        e.preventDefault();
    }
swal("Way to go!", "Your answer is correct!", "success")
});
</script>
