
body, input {
  font-family: "Merriweather", Georgia, serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 2.375;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}
.site-header {
  display: flex;
  align-items: center;
  background: #0265C9;
  color: white;
}
.btn{
  padding: 5px;
  max-height: 40px;
  min-width: 100px;
}
.btn{
  padding: 5px 10px 5px 10px;
  max-height: 40px;
}
@media (max-width: 600px) {
  .site-header {
    flex-wrap: wrap;
  }
  .site-header .site-nav {
    background: white;
    order: 2;
    margin-top: 5px;
    flex-basis: 100%;
  }
  .site-header .site-nav a {
    font-size: 1rem;
  }
  .site-header .account-actions {
    margin-left: auto;
  }
}
.logo {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 5px 15px;
}
.site-nav {
  margin: auto;
  text-align: center;
  flex: 1;
}
.site-nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
}
.site-nav .active a {
  background: #16473a;
  color: #5dccaf;
}
.site-nav a {
  color: #e2e6e7;
  text-decoration: none;
  text-transform: uppercase;
  padding:20px;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
}
@media (max-width: 600px) {
  .site-nav a {
  padding: 10px;
  background-color:white;
color: #0265C9;
}
}
.account-actions {
  display: flex;
  align-items:center;
  padding-right: 10px;
  margin-left: auto;
}
.account-dropdown {
  margin-right: 10px;
}
.account-dropdown > ul {
  display: none;
}
.sign-out-link {
  color: #e2e6e7;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8rem;
}
.form-control{
  max-width: 400px
}
.card{
  margin: 20px;
}

@media (max-width: 600px) {
  iframe{
    width: 100%;
    height: 200px;
  }
}
iframe{
  float: right;
}
.row-col{
  padding-left: auto;
  padding-left: auto;
  margin: auto;
}
#logo{
  height: 2.3em;
  width: 2.3em;
}
